<!DOCTYPE html>
<html>
  <meta charset="utf-8">
  <head>
    <title>InsuMAX</title>
    <link rel='stylesheet' href='/stylesheets/base.css' />
    <link rel='stylesheet' href='/stylesheets/mapbox.css' />
    <link rel='stylesheet' href='/stylesheets/backend.css' />
    <link rel='stylesheet' href='/stylesheets/frontend.css' />
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>
    <script src="/javascripts/mapbox.js"></script>
    <script src="/javascripts/backend.js"></script>
    <script src="/javascripts/frontend.js"></script>
  </head>
  <body>
    <div id="wrap">
      <header>
        <nav class="navbar navbar-fixed-top">
          <div class="navbar-header pull-left">
            <a class="navbar-brand" href="/">InsuMAX</a>
            <a class="navbar-brand" href="/articulos">Presupuestos</a>
            <a class="navbar-brand" href="#">Quienes Somos</a>
          </div>
          <div class="navbar-header pull-right">
            <% if(!cart) { %>
              <p>error cart!</p>
            <% }else{ %>
              <a href="#" class="btn btn-primary navbar-btn"
                 data-html="true"
                 data-toggle="popover"
                 data-placement="bottom"
                 data-trigger="focus"
                 data-content="<p><%= cart %></p>" >
                <span id="item"><%= cart.qty() %></span>
                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>
              </a>
            <% } %>
          </div>
        </nav>
      </header>

      <section class="main">
        <div class="container">
          <div class="err">
            <% if (errors.length) { %>
              <span id="ErrorMsgs">
                Corregir errores:<br/>
                <% for (var i in errors) { %>
                  <p> <%= errors[i].message %> </p>
                <% } %>
              </span>
            <% } %>
          </div>
          <%- body %>
        </div>
      </section>

      <footer>
        <div class="container footer">@footer</div>
      </footer>
    </div>
    <script type="text/javascript">$(function () {
  $('[data-toggle="popover"]').popover()
})</script>
  </body>
</html>